{% extends "shopapp/base.html" %}
{% block content %}
<main class="main">
  <section class="breadcrumb">
    <ul class="breadcrumb__list flex container">
      <li><a href="{% url 'home' %}" class="breadcrumb__link">Home</a></li>
      <li><span class="breadcrumb__link">></span></li>
      <li><span class="breadcrumb__link">Contact</span></li>
    </ul>
  </section>

  <section class="contact section--lg">
    <div class="contact__container container grid">
      <div class="contact__info">
        <h3 class="section__title">Contact Information</h3>
        <div class="contact__data grid">
          <div class="contact__card">
            <i class="fas fa-phone"></i>
            <h3>Phone</h3>
            <p>(+01) - 9876 - 5432-10</p>
          </div>
          <div class="contact__card">
            <i class="fas fa-map-marker-alt"></i>
            <h3>Location</h3>
            <p>123 Main Street, Your City</p>
          </div>
          <div class="contact__card">
            <i class="fas fa-envelope"></i>
            <h3>Email</h3>
            <p>info@bikrante.com</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock content %}
