{% extends "shopapp/base.html" %}
{% load static %}
{% block content %}
    <!--=============== MAIN ===============-->
    <main class="main">
        {% include 'shopapp/includes/_breadcrumb.html' %}
        
      <!--=============== DETAILS ===============-->
      <section class="details section--lg">
        <div class="details__container container grid">
          <div class="details__group">
            <img
              src="{{ product.image1.url }}"
              alt="{{ product.name }}"
              class="details__img"
            />
            <div class="details__small-images grid">
              <img
                src="{{ product.image2.url }}"
                alt="{{ product.name }}"
                class="details__small-img"
              />
              {% if product.image3 %}
              <img
                src="{{ product.image3.url }}"
                alt="{{ product.name }}"
                class="details__small-img"
              />{% endif %}
              {% if product.image4 %}
              <img
                src="{{ product.image4.url }}"
                alt="{{ product.name }}"
                class="details__small-img"
              />
              {% endif %}
              {% if product.image5 %}
              <img
                src="{{ product.image5.url }}"
                alt="{{ product.name }}"
                class="details__small-img"
              />
              {% endif %}
              {% if product.image6 %}
              <img
                src="{{ product.image6.url }}"
                alt="{{ product.name }}"
                class="details__small-img"
              />
              {% endif %}
            </div>
          </div>
          <div class="details__group">
            <h3 class="details__title">{{ product.name }}</h3>
            <p class="details__brand">Brand: <span>{{ product.brand_name }}</span></p>
            <div class="details__price flex">
              <span class="new__price">रु{{ product.price_after_discount }}</span>
              <span class="old__price">रु{{ product.price }}</span>
              <span class="save__price">{{ product.category.discount_percentage }}% Off</span>
            </div>
            <p class="short__description">
          {{ product.description }}
            </p>
            <ul class="products__list">
              <li class="list__item flex">
                <i class="fi-rs-crown"></i> 1 Year Al Jazeera Brand Warranty
              </li>
              <li class="list__item flex">
                <i class="fi-rs-refresh"></i> 30 Days Return Policy
              </li>
              <li class="list__item flex">
                <i class="fi-rs-credit-card"></i> Cash on Delivery available
              </li>
            </ul>
            <div class="details__color flex">
              <span class="details__color-title">Color</span>
              <ul class="color__list">
                <li>
                  <a
                    href="#"
                    class="color__link"
                    style="background-color: hsl(37, 100%, 65%)"
                  ></a>
                </li>
                <li>
                  <a
                    href="#"
                    class="color__link"
                    style="background-color: hsl(353, 100%, 65%)"
                  ></a>
                </li>
                <li>
                  <a
                    href="#"
                    class="color__link"
                    style="background-color: hsl(49, 100%, 60%)"
                  ></a>
                </li>
                <li>
                  <a
                    href="#"
                    class="color__link"
                    style="background-color: hsl(304, 100%, 78%)"
                  ></a>
                </li>
                <li>
                  <a
                    href="#"
                    class="color__link"
                    style="background-color: hsl(126, 61%, 52%)"
                  ></a>
                </li>
              </ul>
            </div>
            <div class="details__size flex">
              <span class="details__size-title">Size</span>
              <ul class="size__list">
                <li>
                  <a href="#" class="size__link size-active">M</a>
                </li>
                <li>
                  <a href="#" class="size__link">L</a>
                </li>
                <li>
                  <a href="#" class="size__link">XL</a>
                </li>
                <li>
                  <a href="#" class="size__link">XXL</a>
                </li>
              </ul>
            </div>
            <div class="details__action">
              <input min="1" type="number" class="quantity" value="0"/>
              <a href="#" class="btn btn--sm">Add To Card</a>
              <a href="#" class="details__action-btn" id="detail_cart_wishlist"
              href="{% if user.is_authenticated %}#{% else %}{% url 'login' %}{% endif %}"
                    hx-post="{% url 'add_remove_wishlist' product.slug %}"
                    hx-target="body"
                    hx-swap="none"
                    hx-trigger="click"
                    data-wishlist-product-slug="{{ product.slug }}"
                    class="action__btn wishlist-btn {% if request.user.is_authenticated and product in request.user.liked_products.all %}liked{% endif %}"
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                    aria-label="Add to Wishlist"
              >
                <i class="fi fi-rs-heart"></i>
              </a>
            </div>
            <ul class="details__meta">
              <li class="meta__list flex"><span>SKU:</span>{{product.sku}}</li>
              <li class="meta__list flex">
                <span>Tags:</span>{{product.tags}}
              </li>
              <li class="meta__list flex">
                <span>Availability:</span>{{ product.stock }} Items in Stock
              </li>
            </ul>
          </div>
        </div>
      </section>

      <!--=============== DETAILS TAB ===============-->
      <section class="details__tab container">
        <div class="detail__tabs">
          <span class="detail__tab active-tab" data-target="#info">
            Additional Info
          </span>

          <!-- Review Count -->
          <span class="detail__tab" data-target="#reviews" 
      hx-get="{% url 'product-review-count' product.slug %}" 
      hx-trigger="revealed"
      hx-target="#review-count">
    Reviews(<span id="review-count">{{ reviews_count }}</span>)
        </span>
        </div>
        <div class="details__tabs-content">
          <div class="details__tab-content active-tab" content id="info">
            {% comment %} table generated code  {% endcomment %}
            {{ product.specifications|safe }}
          </div>
          <div class="details__tab-content" content id="reviews">
            <div class="reviews__container grid">

            {% for review in reviews %}
            
              <div class="review__single">
                <div>
                  <img
                    src=" {{ review.user.profile.profile_image.url }} "
                    alt="{{review.user.name}}"
                    class="review__img"
                  />
                  <h4 class="review__title">{{ review.user.username }}</h4>
                </div>
                <div class="review__data">
                  <div class="review__rating">
               {% for star_icon in review.star_icons %}
               {{ star_icon|safe }}
               {% endfor %}
            
                  </div>
                  <p class="review__description">
                    {{ review.review_text }}
                  </p>
                  <span class="review__date">{{ review.created_at }}</span>
                </div>
              </div>
            {% endfor %}

            </div>

            <div class="review__form">
              <h4 class="review__form-title">Add a review</h4>
              <form hx-post="{% url 'product-detail' product.slug %}" hx-target="#reviews" hx-swap="outerHTML" class="form grid" method="POST">
                {% csrf_token %}
                <div class="rating-stars">
                  <input type="radio" required name="rating" id="rs0" value="0" checked hidden><label for="rs0"></label>
                  <input type="radio" required name="rating" value="1" id="rs1"><label for="rs1"></label>
                  <input type="radio" required name="rating" value="2" id="rs2"><label for="rs2"></label>
                  <input type="radio" required name="rating" value="3" id="rs3"><label for="rs3"></label>
                  <input type="radio" required name="rating" value="4" id="rs4"><label for="rs4"></label>
                  <input type="radio" required name="rating" value="5" id="rs5"><label for="rs5"></label>
                  <span class="rating-counter"></span>
                </div>
              
                <textarea
                  class="form__input textarea"
                  placeholder="Write an Review"
                  row="4"
                  name="review"
                ></textarea></br>
                 <div class="captcha-container">
                <div class="cf-turnstile" data-sitekey="0x4AAAAAAA8HzRvfB7oTzXFa"></div>
                </div>
                <div class="form__btn">
                  <button class="btn" type="submit">Submit Review</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>

      <!--=============== PRODUCTS ===============-->
      <section class="products container section--lg">
        <h3 class="section__title"><span>Related</span> Products</h3>
        <div class="products__container grid">
          {% for product in related_products %}
          <div class="product__item">
            <div class="product__banner">
              <a href="{% url 'product-detail' product.slug %}" class="product__images">
                <img
                  src="assets/img/product-1-1.jpg"
                  alt=""
                  class="product__img default"
                />
                <img
                  src="assets/img/product-1-2.jpg"
                  alt=""
                  class="product__img hover"
                />
              </a>
              <div class="product__actions">
                <a href="#" class="action__btn" aria-label="Quick View">
                  <i class="fi fi-rs-eye"></i>
                </a>
                <a
                  href="#"
                  class="action__btn"
                  aria-label="Add to Wishlist"
                >
                  <i class="fi fi-rs-heart"></i>
                </a>
                <a href="#" class="action__btn" aria-label="Compare">
                  <i class="fi fi-rs-shuffle"></i>
                </a>
              </div>
              <div class="product__badge light-pink">Hot</div>
            </div>
            <div class="product__content">
              <span class="product__category">Clothing</span>
              <a href="details.html">
                <h3 class="product__title">Colorful Pattern Shirts</h3>
              </a>
              <div class="product__rating">
                <i class="fi fi-rs-star"></i>
                <i class="fi fi-rs-star"></i>
                <i class="fi fi-rs-star"></i>
                <i class="fi fi-rs-star"></i>
                <i class="fi fi-rs-star"></i>
              </div>
              <div class="product__price flex">
                <span class="new__price">$238.85</span>
                <span class="old__price">$245.8</span>
              </div>
              <a
                href="#"
                class="action__btn cart__btn"
                aria-label="Add To Cart"
              >
                <i class="fi fi-rs-shopping-bag-add"></i>
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </section>
    </main>
    <script>
document.addEventListener('htmx:afterRequest', function(evt) {
    if (evt.detail.successful) {
        try {
            const response = JSON.parse(evt.detail.xhr.response);
            if (response.success) {
              //changes count in cart
              if(response.cart_count!==undefined){
                navCartCount=document.getElementById('nav-cart-count')
                if(navCartCount){
                  navCartCount.textContent=response.cart_count;
                }
              }
              //changes count on wishlist
              if(response.wishlist_count !== undefined){
                const navWishlistCount=document.getElementById('nav-wishlist-count');
                if(navWishlistCount){
                  navWishlistCount.textContent=response.wishlist_count;
                }
              }
              if(response.wishlist_action=="wishlist_update"){
                

                 // Update wishlist buttons with the product slug
                 const wishlistButtons = document.querySelectorAll(`[data-wishlist-product-slug="${response.product_slug}"]`);
                 wishlistButtons.forEach(btn => {
                     if (response.is_liked) {
                         btn.classList.add('liked');
                     } else {
                         btn.classList.remove('liked');
                     }
                 });
                }
            }
        } catch (e) {
            console.error('Error processing response:', e);
        }
    }
    if (evt.detail.xhr.status === 200) {
        try {
            let response = JSON.parse(evt.detail.xhr.response);
            if (response.redirect) {
                window.location.href = "/login/";  // Redirect to login page
            }
        } catch (e) {
            console.error("Error processing response:", e);
        }
    }
});

</script>
{% endblock content %}