{% extends "shopapp/base.html" %}
{% load static %}
{% block content %}



    <!--=============== MAIN ===============-->
    <main class="main">
      {% include "shopapp/includes/_breadcrumb.html" %}
      <center>
<div style="display:inline-block;">
      {% if messages %}
          <div class="messages">
            {% for message in messages %}
              <p class="{% if message.tags %}{{ message.tags }}{% else %}info{% endif %}">
                {{ message }}
              </p>
            {% endfor %}
          </div>
        {% endif %}
        </div>
</center>
      <!--=============== LOGIN-REGISTER ===============-->
      <section class="login-register section--lg">
        <div class="login-register__container container">
          {% if is_login %}
          <div class="login" style="max-width: 500px; margin: 0 auto;">
            <h3 class="section__title">Login</h3>
            <form class="form grid" method="POST" action="{% url 'login' %}">
              {% csrf_token %}
              <input
                type="email"
                placeholder="Your Email"
                class="form__input"
                name="email"
                required
              />
              <input
                type="password"
                placeholder="Your Password"
                class="form__input"
                name="password"
                required
                style="--ms-reveal: block;"
                autocomplete="current-password"
              />
            <div class="captcha-container">
              <div class="cf-turnstile" data-sitekey="0x4AAAAAAA8HzRvfB7oTzXFa"></div>
              </div>  
              <div class="form__btn">
                <button type="submit" class="btn">Login</button>
              </div>
            </form>
             <div style="text-align:right; margin-top:10px;">
              <a href="{% url 'forgot-password' %}" style="color:#4a90e2;">Forgot Password?</a>
            </div>
          </div>
          {% else %}
          <div class="register" style="max-width: 500px; margin: 0 auto;">
            <h3 class="section__title">Create an Account</h3>
            <form class="form grid" method="POST" action="{% url 'signup' %}?next={% url 'profile-onboarding' %}">
              {% csrf_token %}
              <input
                type="text"
                placeholder="Username"
                class="form__input"
                name="username"
                required
              />
              <input
                type="email"
                placeholder="Your Email"
                class="form__input"
                name="email"
                required
              />
              <input
                type="password"
                placeholder="Your Password"
                class="form__input"
                name="password"
                required
                style="--ms-reveal: block;"
                autocomplete="new-password"
              />
              <input
                type="password"
                placeholder="Confirm Password"
                class="form__input"
                name="cpassword"
                required
                style="--ms-reveal: block;"
                autocomplete="new-password"
              />
              <div class="captcha-container">
                <div class="cf-turnstile" data-sitekey="0x4AAAAAAA8HzRvfB7oTzXFa"></div>
                </div>  
              <div class="form__btn">
                <button  type="submit" class="btn">Submit & Register</button>
              </div>
            </form>
          </div>
          {% endif %}
        </div>
      </section>
  
    </main>
    {% endblock content %}
{% block extrajs %}
<script src="{% static 'js/hide-messages.js' %}"></script>
{% endblock extrajs %}