{% load static %}
<header class="header">
    <nav class="nav container">
      <a href="index.html" class="nav__logo">
        <img
          class="nav__logo-img"
          src="{% static "images/logo.svg" %}"
          alt="website logo"
        />
      </a>
      <div class="nav__menu" id="nav-menu">
        <div class="nav__menu-top">
          <a href="index.html" class="nav__menu-logo">
            <img src=" {% static 'images/logo.svg' %}" alt="">
          </a>
          <div class="nav__close" id="nav-close">
            <i class="fi fi-rs-cross-small"></i>
          </div>
        </div>
        <ul class="nav__list">
          <li class="nav__item">
            <a href="{% url 'home' %}" class="nav__link {% if request.resolver_match.url_name == 'home' %}active-link{% endif %}">
              <i class="fas fa-home"></i> Home 
            </a>
          </li>
          <li class="nav__item">
            <a href="{% url 'shop' %}" class="nav__link {% if request.resolver_match.url_name == 'shop' %}active-link{% endif %}">
              <i class="fas fa-store"></i> Shop 
            </a>
          </li>
          <li class="nav__item">
            <a href="{% url 'contact' %}" class="nav__link {% if request.resolver_match.url_name == 'contact' %}active-link{% endif %}">
              <i class="fas fa-envelope"></i> Contact 
            </a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav__item">
            <a href="accounts.html" class="nav__link">
              <i class="fas fa-user"></i>My Account 
            </a>
          </li>
          <li class="nav__item">
            <a href="{% url 'log-out' %}" class="nav__link">
              <i class="fas fa-sign-out-alt"></i> Logout 
            </a>
          </li>
          {% else %}
          <li class="nav__item">
            <a href="{% url 'login' %}" class="nav__link">
              <i class="fas fa-sign-in-alt"></i> Login 
            </a>
          </li>
          {% endif %}
        </ul>
        <div class="header__search">
          <input
            type="text"
            placeholder="Search For Items..."
            class="form__input"
          />
          <button class="search__btn">
            <img src="{% static 'images/search.png' %}" alt="search icon" />
          </button>
        </div>
      </div>
      <div class="header__user-actions">
        <a href="wishlist.html" class="header__action-btn" title="Wishlist">
          <img src="{% static "images/icon-heart.svg" %} " alt="" />
          <span class="count">3</span>
        </a>
        <a href="cart.html" class="header__action-btn" title="Cart">
          <img src="{% static 'images/icon-cart.svg' %}" alt="" />
          <span class="count">3</span>
        </a>
        <div class="header__action-btn nav__toggle" id="nav-toggle">
          <img src="{% static 'images/menu-burger.svg' %}" alt="">
        </div>
      </div>
    </nav>
  </header>