{% load static %}
{% block extracss %}
<link rel="stylesheet" href="{% static "css/profile-setup.css" %}">
{% endblock extracss %}

{% block content %}
<main class="main">
    {% if messages %}
    <div class="messages">
      {% for message in messages %}
        <p class="{% if message.tags %}{{ message.tags }}{% else %}info{% endif %}">
          {{ message }}
        </p>
      {% endfor %}
    </div>
  {% endif %}
<div class="tab__content" content id="update-profile">
  <h3 class="tab__header">Create Profile</h3>
    <div class="tab__body">
      <form class="form grid" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <input type="hidden" name="update_profile" />
        
        {% if profile.profile_image %}
        <div id="profile_pic_div">
          <div class="picture_wraper">
            <img src="{{ profile.profile_image.url }}" alt="Profile" id="profile_pic">
          </div>  
        </div>
        {% endif %}
      
        <div class="form__group">
          <label><i class="fa-solid fa-image"></i> Profile Image</label>
          <input type="file" name="profile_image" class="form__input" accept=".jpeg,.png,.jpg" title="Only JPEG, PNG, and JPG formats are allowed.">
          <i class="fa-solid fa-image"></i>
        </div>
      
        <div class="form__group">
          <label><i class="fa-solid fa-user"></i> Username</label>
          <input type="text" name="username" class="form__input" value="{{ user.username }}" minlength="3" title="Username must be at least 3 characters." required readonly>
          <i class="fa-solid fa-user"></i>
        </div>
      
        <div class="form__group">
          <label><i class="fa-solid fa-location-dot"></i> Address</label>
          <textarea name="address" class="form__input"  minlength="3" title="Address must be at least 3 characters." >{{ profile.address }}</textarea>
          <i class="fa-solid fa-location-dot"></i>
        </div>
      
        <div class="form__group">
          <label><i class="fa-solid fa-phone"></i> Phone Number</label>
          <input type="tel" name="phone_number" class="form__input" value="{{ profile.phone_number }}" pattern="^(97|98)\d{7,8}$|^(01|04|05|06|07)\d{6,7}$" title="Enter a valid Nepali phone number.">
          <i class="fa-solid fa-phone"></i>
        </div>
      <div class="captcha-container">
          <div class="cf-turnstile" data-sitekey="0x4AAAAAAA8HzRvfB7oTzXFa"></div>
      </div>
        <div class="form__btn">
          <button type="submit" class="btn btn--md"><i class="fa-solid fa-floppy-disk"></i> Save Changes</button>
          <a href="{% url 'user-dashboard' %}" class="btn btn--md btn--secondary">Skip</a>
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock content %}