{% extends "shopapp/base.html" %}
{% block content %}
   <!--=============== MAIN ===============-->
   <main class="main">
    <!--=============== BREADCRUMB ===============-->
   {% include "shopapp/includes/_breadcrumb.html" %}

    <!--=============== PRODUCTS ===============-->
   {% include "shopapp/includes/_products-card.html" %}
   <ul class="pagination">
    <li><a href="#" class="pagination__link active">01</a></li>
    <li><a href="#" class="pagination__link">02</a></li>
    <li><a href="#" class="pagination__link">03</a></li>
    <li><a href="#" class="pagination__link">...</a></li>
    <li><a href="#" class="pagination__link">16</a></li>
    <li><a href="#" class="pagination__link icon">
      <i class="fi-rs-angle-double-small-right"></i>
    </a></li>
  </ul>
  </main>
{% endblock content %}
 