{% extends "shopapp/base.html" %}
{% load static %}
{% csrf_token %}
{% block content %}
<main class="main" id="shop-main">
  
  {% include "shopapp/includes/_breadcrumb.html" %}

  <div id="shop-results">
    {% include "shopapp/includes/_shop_results.html" %}
  </div>
</main>

<!-- Update the script at the end of the template -->
<script>
document.addEventListener('htmx:afterRequest', function(evt) {
    if (evt.detail.successful) {
        try {
            const response = JSON.parse(evt.detail.xhr.response);
            if (response.success) {
                // Handle compare updates
                if (response.redirect) {
                    window.location.href = response.redirect;
                    return;
                }
                //changes count in cart
                if(response.cart_count!==undefined){
                  navCartCount=document.getElementById('nav-cart-count')
                  if(navCartCount){
                    navCartCount.textContent=response.cart_count;
                  }
                }
                //changes count on wishlist
                if(response.wishlist_count !== undefined){
                  const navWishlistCount=document.getElementById('nav-wishlist-count');
                  if(navWishlistCount){
                    navWishlistCount.textContent=response.wishlist_count;
                  }
                }
                if(response.wishlist_action=="wishlist_update"){
                  

                   // Update wishlist buttons with the product slug
                   const wishlistButtons = document.querySelectorAll(`[data-wishlist-product-slug="${response.product_slug}"]`);
                   wishlistButtons.forEach(btn => {
                       if (response.is_liked) {
                           btn.classList.add('liked');
                       } else {
                           btn.classList.remove('liked');
                       }
                   });
                  }
              }
          } catch (e) {
              console.error('Error processing response:', e);
          }
      }
      if (evt.detail.xhr.status === 200) {
          try {
              let response = JSON.parse(evt.detail.xhr.response);
              if (response.redirect) {
                  window.location.href = "/login/";  // Redirect to login page
              }
          } catch (e) {
              console.error("Error processing response:", e);
          }
      }
  });

</script>
{% block extrajs %}
<script src="{% static 'js/shop-tracking.js' %}"></script>
{% endblock extrajs %}
{% endblock content %}
