<div class="tab__content" content id="change-password">
    <h3 class="tab__header">Change Password</h3>
    <div class="tab__body">
      <form class="form grid" method="post">
        {% csrf_token %}
        <input
        type="hidden"
        name="change_password"
        />
        <input
          type="password"
          placeholder="Current Password"
          class="form__input" 
          name="current_password"
        />
        <input
          type="password"
          placeholder="New Password"
          class="form__input" 
          name="new_password"
        />
        <input
          type="password"
          placeholder="Confirm Password"
          class="form__input" 
          name="confirm_password"
        />
         <div class="captcha-container">
          <div class="cf-turnstile" data-sitekey="0x4AAAAAAA8HzRvfB7oTzXFa"></div>
          </div> 
          {% if password_errors %}  <ul class="errorlist">
            {% for error in password_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
        <div class="form__btn">
          <button type="submit" class="btn btn--md">Save</button>
        </div>
      </form>
    </div>
  </div>