<div class="tab__content active-tab" content id="dashboard">
    <div id="profile_pic_div">
      <div class="picture_wraper"><img src="{{ profile.profile_image.url }}" alt="" id="profile_pic"></div>  
    </div>
    <h3 class="tab__header">Hello, {{ user }}</h3>
    <div class="tab__body">
      <p class="tab__description">
          Welcome to your account dashboard. Here, you can quickly view your recent orders, manage your shipping and billing addresses, and update your password and account details with ease.
      </p>
    </div>
  </div>