{% load static %}
<footer class="footer container">
    <div class="footer__container grid">
      <div class="footer__content">
        <a href="index.html" class="footer__logo">
          <img src="{% static "images/logo.svg" %}" alt="" class="footer__logo-img" />
        </a>
        <h4 class="footer__subtitle">Contact</h4>
        <p class="footer__description">
          <span>Address:</span> Hetauda-4,Schoolroad,Makwanpur-Bagmati,Nepal
        </p>
        <p class="footer__description">
          <span>Phone:</span> +977 9876543621 /(+977) 9887654321
        </p>
        <p class="footer__description">
          <span>Hours:</span> 12:00 - 12:00, Sun - Sat(24/7/365)
        </p>
        <div class="footer__social">
          <h4 class="footer__subtitle">Follow Me</h4>
          <div class="footer__links flex">
            <a href="#">
          
              <i class="fa-brands fa-facebook footer__social-icon"></i>
            </a>
            <a href="#">
       
              <i class="fa-brands fa-x-twitter footer__social-icon"></i>
            </a>
            <a href="#">
           
              <i class="fa-brands fa-instagram footer__social-icon"></i>
            </a>
            <a href="#">
   
              <i class="fa-brands fa-pinterest footer__social-icon"></i>
            </a>
            <a href="#">
            
              <i class="fa-brands fa-youtube footer__social-icon"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="footer__content">
        <h3 class="footer__title">Address</h3>
        <ul class="footer__links">
          <li><a href="#" class="footer__link">About Us</a></li>
          <li><a href="#" class="footer__link">Delivery Information</a></li>
          <li><a href="#" class="footer__link">Privacy Policy</a></li>
          <li><a href="#" class="footer__link">Terms & Conditions</a></li>
          <li><a href="#" class="footer__link">Contact Us</a></li>
          <li><a href="#" class="footer__link">Support Center</a></li>
        </ul>
      </div>
      <div class="footer__content">
        <h3 class="footer__title">My Account</h3>
        <ul class="footer__links">
          <li><a href="{% url 'signup' %}" class="footer__link">Sign In</a></li>
          <li><a href="{% url 'cart' %}" class="footer__link">View Cart</a></li>
          <li><a href="{% url 'wishlist' %}" class="footer__link">My Wishlist</a></li>
          <li><a href="" class="footer__link">Track My Order</a></li>
          <li><a href="#" class="footer__link">Help</a></li>
          <li><a href="#" class="footer__link">Order</a></li>
        </ul>
      </div>
      <div class="footer__content">
        <h3 class="footer__title">Secured Payment Gateways</h3>
        <img
          src=" {% static "images/payment-method.png" %}"
          alt=""
          class="payment__img"
        />
      </div>
    </div>
    <div class="footer__bottom">
      <p class="copyright">&copy; <script>document.write(new Date().getFullYear())</script> Bikrante. All right reserved</p>
      <span class="designer">Designed by Saugat</span>
    </div>
  </footer>