{% load static %}
<section class="home section--lg">
    <div class="home__container container grid">
      <div class="home__content">
        <span class="home__subtitle">Hot Promotions</span>
        <h1 class="home__title">
          Fashion Trending <span>Great</span> <br>
          <span id="element"></span>
          <span id="typed-data" data-strings='["Collection"{% for category in categories %}, "{{ category.name|slice:":16"|escapejs }}{% if category.name|length > 16 %}...{% endif %}"{% endfor %}]' style="display:none"></span>
        </h1>
        <p class="home__description">
          Save more with deals & Category Discount
        </p>
        <a href="{% url 'shop' %}" class="btn glow-effect">Shop Now</a>
      </div>
      <img src="{% static 'images/home-img.png' %}" class="home__img animated-image" alt="hats" />
    </div>
  </section>