{% load static %}
<section class="new__arrivals container section">
    <h3 class="section__title"><span>New</span> Arrivals</h3>
    <div class="new__container swiper">
      <div class="swiper-wrapper">
      {% if new_arrivals %}
        {% for new_arrival in new_arrivals %}
        <div class="product__item swiper-slide">
          <div class="product__banner">
            <a href="{% url "product-detail" new_arrival.slug %}" class="product__images">
              <img
                src="{{ new_arrival.image1.url }} "
                alt="{{ new_arrival.name }}"
                class="product__img default"
              />
              <img
                src="{{ new_arrival.image2.url }}"
                alt="{{ new_arival.name }}"
                class="product__img hover"
              />
            </a>
            <div class="product__actions">
              <a href="#" 
              class="action__btn" 
                    aria-label="Quick View"
                    hx-get="{% url 'product-detail' new_arrival.slug %}"
                    hx-trigger="click"
                    hx-target="#product-modal-content"
                    hx-swap="innerHTML"
              >
                <i class="fi fi-rs-eye"></i>
              </a>

              <a href="#" 
              href="#"
              hx-post="{% url 'add_remove_wishlist' new_arrival.slug %}"
              hx-target="body"
              hx-swap="none"
              hx-trigger="click"
              hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
              class="action__btn wishlist-btn {% if request.user.is_authenticated and new_arrival in request.user.liked_products.all %}liked{% endif %}"
              aria-label="Add to Wishlist"
              data-product-slug="{{ new_arrival.slug }}"
              >
                <i class="fi fi-rs-heart"></i>
              </a>
              <a href="#" class="action__btn" aria-label="Compare">
                <i class="fi fi-rs-shuffle"></i>
              </a>
            </div>
            <div class="product__badge {{ new_arrival.class_color }}">{% if new_arrival.is_hot %}Hot{% else %}{{new_arrival.category.discount_percentage }} % Off {% endif %}</div>
          </div>
          <div class="product__content">
            <span class="product__category">{{ new_arrival.category.name }}</span>
            <a href="{% url 'product-detail' new_arrival.slug %}">
              <h3 class="product__title">{{ new_arrival.name }}</h3>
            </a>
            <div class="product__rating">
              {% for rating in new_arrival.average_rating %}
              {{ rating|safe }}
              {% endfor %}
            </div>
            <div class="product__price flex">
              <span class="new__price">{{ new_arrival.price_after_discount }}</span>
              <span class="old__price">{{ new_arrival.price }}</span>
            </div>
            
            <a
              href="#"
              class="action__btn cart__btn"
              aria-label="Add To Cart"
              {% if new_arrival.stock > 0 %}
                hx-post="{% url 'add-remove-cart' new_arrival.slug %}"
                hx-target="body"
                hx-swap="none"
                hx-trigger="click"
                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                data-product-slug="{{ new_arrival.slug }}"
              {% else %}
                tabindex="-1" aria-disabled="true"
                style="pointer-events: none; opacity: 0.5;"
              {% endif %}>
              <i class="fi fi-rs-shopping-bag-add"></i>
            </a>
            {% if new_arrival.stock == 0 %}
              <span class="out-of-stock-label" style="color: red; font-size: 0.9em;">Out of stock</span>
            {% endif %}
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>

      <div class="swiper-button-prev">
        <i class="fi fi-rs-angle-left"></i>
      </div>
      <div class="swiper-button-next">
        <i class="fi fi-rs-angle-right"></i>
      </div>
    </div>
  </section>