{% load static %}
<!-- product cards for home with different inbuilt data-target filter -->
<section class="products container section">
{% if is_home %}
<div class="tab__btns">
  <span class="tab__btn active-tab" data-target="#featured"
    >Featured</span
  >
  <span class="tab__btn" data-target="#popular">Popular</span>
  <span class="tab__btn" data-target="#new-added">New Added</span>
</div>

{% endif %}
{% if hot_products %}
    <div class="tab__items">
      <div class="tab__item active-tab" content id="featured">
        <div class="products__container grid">
          {% for hot_product in hot_products %}
          <div class="product__item js-track-product" data-product-id="{{ hot_product.id }}">
            <div class="product__banner">
              <a href="{% url 'product-detail' hot_product.slug %}" class="product__images">
                <img
                  src="{{ hot_product.image1.url }}"
                  alt="{{ hot_product.name }}"
                  class="product__img default"
                />
                <img
                  src="{{ hot_product.image2.url }}"
                  alt="{{ hot_product.name }}"
                  class="product__img hover"
                />
              </a>
             
              <div class="product__actions">
                <a href="#"
                class="action__btn" 
                    aria-label="Quick View"
                    hx-get="{% url 'product-detail' hot_product.slug %}"
                    hx-trigger="click"
                    hx-target="#product-modal-content"
                    hx-swap="innerHTML">
                  <i class="fi fi-rs-eye"></i>
                </a>
                <a
                  href="#"
                  hx-post="{% url 'add_remove_wishlist' hot_product.slug %}"
                  hx-target="body"
                  hx-swap="none"
                  hx-trigger="click"
                  data-product-slug="{{ hot_product.slug }}"
                  class="action__btn wishlist-btn {% if request.user.is_authenticated and hot_product in request.user.liked_products.all %}liked{% endif %}"
                  hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                  aria-label="Add to Wishlist"
                >
                  <i class="fi fi-rs-heart"></i>
                </a>
                <a href="{% url 'add-remove-compare' hot_product.slug %}" 
                   class="action__btn" 
                   aria-label="Compare">
                  <i class="fi fi-rs-shuffle"></i>
                </a>
              </div>
              
              <div class="product__badge {{ hot_product.class_color|default:'light-blue' }}">Hot</div>
            </div>
            <div class="product__content">
              <span class="product__category">{{ hot_product.category.name }}</span>
                <a href="{% url 'product-detail' hot_product.slug %}">
                <h3 class="product__title">{{ hot_product.name }}</h3>
              </a>
              <div class="product__rating">
                {% for rating in hot_product.average_rating %}
                {{ rating|safe }}
                {% endfor %}
              </div>
              <div class="product__price flex">
                <span class="new__price">रु{{ hot_product.price_after_discount }}</span>
                <span class="old__price">रु{{ hot_product.price }}</span>
              </div>
                <a
                href="#"
                {% if hot_product.stock == 0 %}
                  class="action__btn cart__btn disabled"
                  aria-label="Out Of Stock"
                  tabindex="-1"
                  style="pointer-events: none; opacity: 0.5;"
                {% else %}
                  hx-post="{% url 'add-remove-cart' hot_product.slug %}"
                  hx-target="body"
                  hx-swap="none"
                  hx-trigger="click"
                  hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                  class="action__btn cart__btn"
                  aria-label="Add To Cart"
                  data-product-slug="{{ hot_product.slug }}"
                {% endif %}
                >
                <i class="fi fi-rs-shopping-bag-add"></i>
                </a>
                {% if hot_product.stock == 0 %}
              <span class="out-of-stock-label" style="color: red; font-size: 0.9em;">Out of stock</span>
            {% endif %}
            </div>
          </div>
          {% endfor %}
          {% endif %}

      
        {% if normal_products %}

          {% for normal_product in normal_products %}
          <div class="product__item js-track-product" data-product-id="{{ normal_product.id }}">
            <div class="product__banner">
              <a href="{% url 'product-detail' normal_product.slug %}" class="product__images">
                <img
                  src="{{ normal_product.image1.url }}"
                  alt="{{ normal_product.name }}"
                  class="product__img default"
                />
                <img
                  src="{{ normal_product.image2.url }}"
                  alt="{{ normal_product.name }}"
                  class="product__img hover"
                />
              </a>
              <div class="product__actions">
                <a href="#" class="action__btn" 
                aria-label="Quick View"
                hx-get="{% url 'product-detail' normal_product.slug %}"
                hx-trigger="click"
                hx-target="#product-modal-content"
                hx-swap="innerHTML"
                >
                  <i class="fi fi-rs-eye"></i>
                </a>
                <a
                  href="#"
                  hx-post="{% url 'add_remove_wishlist' normal_product.slug %}"
                  hx-target="body"
                  hx-swap="none"
                  hx-trigger="click"
                  hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                  class="action__btn wishlist-btn {% if request.user.is_authenticated and normal_product in request.user.liked_products.all %}liked{% endif %}"
                  aria-label="Add to Wishlist"
                  data-product-slug="{{ normal_product.slug }}"
                >
                  <i class="fi fi-rs-heart"></i>
                </a>
                <a href="{% url 'add-remove-compare' normal_product.slug %}" 
                   class="action__btn" 
                   aria-label="Compare">
                  <i class="fi fi-rs-shuffle"></i>
                </a>
              </div>
              <div class="product__badge {{ normal_product.class_color|default:'light-blue' }}">{{ normal_product.category.discount_percentage }}% Off</div>
            </div>
            <div class="product__content">
              <span class="product__category">{{ normal_product.category.name }}</span>
                <a href="{% url 'product-detail' normal_product.slug %}">
                <h3 class="product__title">{{ normal_product.name }}</h3>
              </a>
              <div class="product__rating">
                {% for rating in normal_product.average_rating %}
                {{ rating|safe }}
                {% endfor %}
              </div>
              <div class="product__price flex">
                <span class="new__price">रु{{ normal_product.price_after_discount }}</span>
                <span class="old__price">रु{{ normal_product.price }}</span>
              </div>
                <a
                href="#"
                {% if normal_product.stock == 0 %}
                  class="action__btn cart__btn disabled"
                  aria-label="Out Of Stock"
                  tabindex="-1"
                  style="pointer-events: none; opacity: 0.5;"
                {% else %}
                  hx-post="{% url 'add-remove-cart' normal_product.slug %}"
                  hx-target="body"
                  hx-swap="none"
                  hx-trigger="click"
                  hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                  class="action__btn cart__btn"
                  aria-label="Add To Cart"
                  data-product-slug="{{ normal_product.slug }}"
                {% endif %}
                >
                <i class="fi fi-rs-shopping-bag-add"></i>
                </a>
                {% if normal_product.stock == 0 %}
              <span class="out-of-stock-label" style="color: red; font-size: 0.9em;">Out of stock</span>
            {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      {% if popular_products %}
      <div class="tab__item" content id="popular">
        <div class="products__container grid">
          {% for popular_product in popular_products %}
          <div class="product__item js-track-product" data-product-id="{{ popular_product.id }}">
            <div class="product__banner">
              <a href="{% url 'product-detail' popular_product.slug %}" class="product__images">
                <img
                  src="{{ popular_product.image1.url }}"
                  alt="{{ popular_product.name }}"
                  class="product__img default"
                />
                <img
                  src="{{ popular_product.image2.url }}"
                  alt="{{ popular_product.name }}"
                  class="product__img hover"
                />
              </a>
              <div class="product__actions">
                <a href="#" 
                class="action__btn" 
                    aria-label="Quick View"
                    hx-get="{% url 'product-detail' popular_product.slug %}"
                    hx-trigger="click"
                    hx-target="#product-modal-content"
                    hx-swap="innerHTML"
                >
                  <i class="fi fi-rs-eye"></i>
                </a>
                <a
                  href="#"
                  hx-post="{% url 'add_remove_wishlist' popular_product.slug %}"
                  hx-target="body"
                  hx-swap="none"
                  hx-trigger="click"
                  hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                  class="action__btn wishlist-btn {% if request.user.is_authenticated and popular_product in request.user.liked_products.all %}liked{% endif %}"
                  aria-label="Add to Wishlist"
                  data-product-slug="{{ popular_product.slug }}"
                >
                  <i class="fi fi-rs-heart"></i>
                </a>
                <a href="{% url 'add-remove-compare' popular_product.slug %}" 
                   class="action__btn" 
                   aria-label="Compare">
                  <i class="fi fi-rs-shuffle"></i>
                </a>
              </div>
              <div class="product__badge {{ popular_product.class_color|default:'light-pink' }}">Hot</div>
            </div>
            <div class="product__content">
              <span class="product__category">{{ popular_product.category.name }}</span>
              <a href="{% url 'product-detail' popular_product.slug %}">
                <h3 class="product__title">{{ popular_product.name }}</h3>
              </a>
              <div class="product__rating">
                {% for rating in popular_product.average_rating %}
                {{ rating|safe }}
                {% endfor %}
              </div>
              <div class="product__price flex">
                <span class="new__price">रु{{ popular_product.price_after_discount }}</span>
                <span class="old__price">रु{{ popular_product.price }}</span>
              </div>
                <a
                href="#"
                {% if popular_product.stock == 0 %}
                  class="action__btn cart__btn disabled"
                  aria-label="Out Of Stock"
                  tabindex="-1"
                  style="pointer-events: none; opacity: 0.5;"
                {% else %}
                  hx-post="{% url 'add-remove-cart' popular_product.slug %}"
                  hx-target="body"
                  hx-swap="none"
                  hx-trigger="click"
                  hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                  class="action__btn cart__btn"
                  aria-label="Add To Cart"
                  data-product-slug="{{ popular_product.slug }}"
                {% endif %}
                >
                <i class="fi fi-rs-shopping-bag-add"></i>
                </a>
                {% if popular_product.stock == 0 %}
              <span class="out-of-stock-label" style="color: red; font-size: 0.9em;">Out of stock</span>
            {% endif %}
            </div>
          </div>

          {% endfor %}
        </div>
      </div>
      {% endif %}

{% if new_arrivals %}
      <div class="tab__item" content id="new-added">
        <div class="products__container grid">
          {% for new_arrival in new_arrivals %}
          <div class="product__item js-track-product" data-product-id="{{ new_arrival.id }}">
            <div class="product__banner">
              <a href="{% url 'product-detail' new_arrival.slug %}" class="product__images">
                <img
                  src="{{ new_arrival.image1.url }}"
                  alt="{{ new_arrival.name }}"
                  class="product__img default"
                />
                <img
                  src="{{ new_arrival.image2.url }}"
                  alt="{{ new_arrival.name }}"
                  class="product__img hover"
                />
              </a>
              <div class="product__actions">
                <a href="#" 
                class="action__btn" 
                    aria-label="Quick View"
                    hx-get="{% url 'product-detail' new_arrival.slug %}"
                    hx-trigger="click"
                    hx-target="#product-modal-content"
                    hx-swap="innerHTML"
                >
                  <i class="fi fi-rs-eye"></i>
                </a>
                <a
                  href="#"
                  hx-post="{% url 'add_remove_wishlist' new_arrival.slug %}"
                  hx-target="body"
                  hx-swap="none"
                  hx-trigger="click"
                  hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                  class="action__btn wishlist-btn {% if request.user.is_authenticated and new_arrival in request.user.liked_products.all %}liked{% endif %}"
                  aria-label="Add to Wishlist"
                  data-product-slug="{{ new_arrival.slug }}"
                >
                  <i class="fi fi-rs-heart"></i>
                </a>
                <a href="{% url 'add-remove-compare' new_arrival.slug %}" 
                   class="action__btn" 
                   aria-label="Compare">
                  <i class="fi fi-rs-shuffle"></i>
                </a>
              </div>
              <div class="product__badge {{ new_arrival.class_color|default:'light-blue' }} ">{% if new_arrival.is_hot %}Hot{% else %} {{ new_arrival.category.discount_percentage }}  % Off {% endif %}</div>
            </div>
            <div class="product__content">
              <span class="product__category">{{ new_arrival.category.name }}</span>
              <a href="{% url 'product-detail' new_arrival.slug %}">
                <h3 class="product__title">{{ new_arrival.name }}</h3>
              </a>
              <div class="product__rating">
                {% for rating in new_arrival.average_rating %}
                {{ rating|safe }}
                {% endfor %}
              </div>
              <div class="product__price flex">
                <span class="new__price">रु{{ new_arrival.price_after_discount }}</span>
                <span class="old__price">रु{{ new_arrival.price }}</span>
              </div>
                <a
                href="#"
                {% if new_arrival.stock == 0 %}
                  class="action__btn cart__btn disabled"
                  aria-label="Out Of Stock"
                  tabindex="-1"
                  style="pointer-events: none; opacity: 0.5;"
                {% else %}
                  hx-post="{% url 'add-remove-cart' new_arrival.slug %}"
                  hx-target="body"
                  hx-swap="none"
                  hx-trigger="click"
                  hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                  class="action__btn cart__btn"
                  aria-label="Add To Cart"
                  data-product-slug="{{ new_arrival.slug }}"
                {% endif %}
                >
                <i class="fi fi-rs-shopping-bag-add"></i>
                </a>
                {% if new_arrival.stock == 0 %}
              <span class="out-of-stock-label" style="color: red; font-size: 0.9em;">Out of stock</span>
            {% endif %}
            </div>
          </div>
          
          {% endfor %}
      </div>
    </div>
    {% endif %}
  </section>

  <script>
    document.addEventListener('htmx:afterRequest', function(evt) {
        if (evt.detail.successful) {
            try {
                const response = JSON.parse(evt.detail.xhr.response);
                if (response.success) {
                  // changes count on cart
                  if(response.cart_count!==undefined){
                    navCartCount=document.getElementById('nav-cart-count')
                    if(navCartCount){
                      navCartCount.textContent=response.cart_count;
                    }
                    // changes count on cart
                  }
                  if(response.wishlist_count !== undefined){
                    const navWishlistCount=document.getElementById('nav-wishlist-count');
                    if(navWishlistCount){
                      navWishlistCount.textContent=response.wishlist_count;
                    }
                  }
    if(response.wishlist_action=="wishlist_update"){
                    // Update all buttons with this product slug
                    const buttons = document.querySelectorAll(`[data-product-slug="${response.product_slug}"]`);
                    buttons.forEach(btn => {
                        if (response.is_liked) {
                            btn.classList.add('liked');
                        } else {
                            btn.classList.remove('liked');
                        }
                    });}
                }
            } catch (e) {
                console.error('Error processing response:', e);
            }
        }
        if (evt.detail.xhr.status === 200) {
          try {
              let response = JSON.parse(evt.detail.xhr.response);
              if (response.redirect) {
                  window.location.href = "/login/";  // Redirect to login page
              }
          } catch (e) {
              console.error("Error processing response:", e);
          }
      }
    }); 
    
    </script>