{% load static %}
<section class="products container section">
{% if is_home %}
<div class="tab__btns">
  <span class="tab__btn active-tab" data-target="#featured"
    >Featured</span
  >
  <span class="tab__btn" data-target="#popular">Popular</span>
  <span class="tab__btn" data-target="#new-added">New Added</span>
</div>
{% else %}
  <p class="total__products">We found <span>688</span> items for you!</p>
{% endif %}
{% if hot_products %}
    <div class="tab__items">
      <div class="tab__item active-tab" content id="featured">
        <div class="products__container grid">
          {% for hot_product in hot_products %}
          <div class="product__item">
            <div class="product__banner">
              <a href="{% url 'product-detail' hot_product.slug %}" class="product__images">
                <img
                  src="{{ hot_product.image1.url }}"
                  alt="{{ hot_product.name }}"
                  class="product__img default"
                />
                <img
                  src="{{ hot_product.image2.url }}"
                  alt="{{ hot_product.name }}"
                  class="product__img hover"
                />
              </a>
              <div class="product__actions">
                <a href="#" class="action__btn" aria-label="Quick View">
                  <i class="fi fi-rs-eye"></i>
                </a>
                <a
                  href="#"
                  class="action__btn"
                  aria-label="Add to Wishlist"
                >
                  <i class="fi fi-rs-heart"></i>
                </a>
                <a href="#" class="action__btn" aria-label="Compare">
                  <i class="fi fi-rs-shuffle"></i>
                </a>
              </div>
       
              <div class="product__badge {{ hot_product.class_color }}">Hot</div>
            </div>
            <div class="product__content">
              <span class="product__category">{{ hot_product.category.name }}</span>
                <a href="{% url 'product-detail' hot_product.slug %}">
                <h3 class="product__title">{{ hot_product.name }}</h3>
              </a>
              <div class="product__rating">
                <i class="fi fi-rs-star"></i>
                <i class="fi fi-rs-star"></i>
                <i class="fi fi-rs-star"></i>
                <i class="fi fi-rs-star"></i>
                <i class="fi fi-rs-star"></i>
              </div>
              <div class="product__price flex">
                <span class="new__price">{{ hot_product.price }}</span>
                <span class="old__price">$245.8</span>
              </div>
              <a
                href="#"
                class="action__btn cart__btn"
                aria-label="Add To Cart"
              >
                <i class="fi fi-rs-shopping-bag-add"></i>
              </a>
            </div>
          </div>
          {% endfor %}
          {% endif %}

      
        {% if normal_products %}

          {% for normal_product in normal_products %}
          <div class="product__item">
            <div class="product__banner">
              <a href="{% url 'product-detail' normal_product.slug %}" class="product__images">
                <img
                  src="{{ normal_product.image1.url }}"
                  alt="{{ normal_product.name }}"
                  class="product__img default"
                />
                <img
                  src="{{ normal_product.image2.url }}"
                  alt="{{ normal_product.name }}"
                  class="product__img hover"
                />
              </a>
              <div class="product__actions">
                <a href="" class="action__btn" aria-label="Quick View">
                  <i class="fi fi-rs-eye"></i>
                </a>
                <a
                  href="#"
                  class="action__btn"
                  aria-label="Add to Wishlist"
                >
                  <i class="fi fi-rs-heart"></i>
                </a>
                <a href="#" class="action__btn" aria-label="Compare">
                  <i class="fi fi-rs-shuffle"></i>
                </a>
              </div>
              <div class="product__badge">{{ normal_product.category.discount_percentage }}% Off</div>
            </div>
            <div class="product__content">
              <span class="product__category">{{ normal_product.category.name }}</span>
                <a href="{% url 'product-detail' normal_product.slug %}">
                <h3 class="product__title">{{ normal_product.name }}</h3>
              </a>
              <div class="product__rating">
                <i class="fi fi-rs-star"></i>
                <i class="fi fi-rs-star"></i>
                <i class="fi fi-rs-star"></i>
                <i class="fi fi-rs-star"></i>
                <i class="fi fi-rs-star"></i>
              </div>
              <div class="product__price flex">
                <span class="new__price">{{ normal_product.price }}</span>
                <span class="old__price">$245.8</span>
              </div>
              <a
                href="#"
                class="action__btn cart__btn"
                aria-label="Add To Cart"
              >
                <i class="fi fi-rs-shopping-bag-add"></i>
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      {% if popular_products %}
      <div class="tab__item" content id="popular">
        <div class="products__container grid">
          {% for popular_product in popular_products %}
          <div class="product__item">
            <div class="product__banner">
              <a href="" class="product__images">
                <img
                  src="{{ popular_product.image1.url }}"
                  alt=""
                  class="product__img default"
                />
                <img
                  src="{% url 'product-detail' popular_product.slug %}"
                  alt="{{ popular_product.name }}"
                  class="product__img hover"
                />
              </a>
              <div class="product__actions">
                <a href="#" class="action__btn" aria-label="Quick View">
                  <i class="fi fi-rs-eye"></i>
                </a>
                <a
                  href="#"
                  class="action__btn"
                  aria-label="Add to Wishlist"
                >
                  <i class="fi fi-rs-heart"></i>
                </a>
                <a href="#" class="action__btn" aria-label="Compare">
                  <i class="fi fi-rs-shuffle"></i>
                </a>
              </div>
              <div class="product__badge light-pink">Hot</div>
            </div>
            <div class="product__content">
              <span class="product__category">Clothing</span>
              <a href="{% url 'product-detail' popular_product.slug %}">
                <h3 class="product__title">Colorful Pattern Shirts</h3>
              </a>
              <div class="product__rating">
                <i class="fi fi-rs-star"></i>
                <i class="fi fi-rs-star"></i>
                <i class="fi fi-rs-star"></i>
                <i class="fi fi-rs-star"></i>
                <i class="fi fi-rs-star"></i>
              </div>
              <div class="product__price flex">
                <span class="new__price">$238.85</span>
                <span class="old__price">$245.8</span>
              </div>
              <a
                href="#"
                class="action__btn cart__btn"
                aria-label="Add To Cart"
              >
                <i class="fi fi-rs-shopping-bag-add"></i>
              </a>
            </div>
          </div>

          {% endfor %}
        </div>
      </div>
      {% endif %}

{% if new_arrivals %}
      <div class="tab__item" content id="new-added">
        <div class="products__container grid">
          {% for new_arrival in new_arrivals %}
          <div class="product__item">
            <div class="product__banner">
              <a href="{% url 'product-detail' new_arrival.slug %}" class="product__images">
                <img
                  src="{{ new_arrival.image1.url }}"
                  alt="{{ new_arrival.name }}"
                  class="product__img default"
                />
                <img
                  src="{{ new_arrival.image2.url }}"
                  alt="{{ new_arrival.name }}"
                  class="product__img hover"
                />
              </a>
              <div class="product__actions">
                <a href="#" class="action__btn" aria-label="Quick View">
                  <i class="fi fi-rs-eye"></i>
                </a>
                <a
                  href="#"
                  class="action__btn"
                  aria-label="Add to Wishlist"
                >
                  <i class="fi fi-rs-heart"></i>
                </a>
                <a href="#" class="action__btn" aria-label="Compare">
                  <i class="fi fi-rs-shuffle"></i>
                </a>
              </div>
              <div class="product__badge light-pink">Hot</div>
            </div>
            <div class="product__content">
              <span class="product__category">Clothing</span>
              <a href="{% url 'product-detail' new_arrival.slug %}">
                <h3 class="product__title">Colorful Pattern Shirts</h3>
              </a>
              <div class="product__rating">
                <i class="fi fi-rs-star"></i>
                <i class="fi fi-rs-star"></i>
                <i class="fi fi-rs-star"></i>
                <i class="fi fi-rs-star"></i>
                <i class="fi fi-rs-star"></i>
              </div>
              <div class="product__price flex">
                <span class="new__price">$238.85</span>
                <span class="old__price">$245.8</span>
              </div>
              <a
                href="#"
                class="action__btn cart__btn"
                aria-label="Add To Cart"
              >
                <i class="fi fi-rs-shopping-bag-add"></i>
              </a>
            </div>
          </div>
          
          {% endfor %}
      </div>
    </div>
    {% endif %}
  </section>